body
{
  
  margin: 0;
  background: #aaaea2;
}


.header1{
	width: 50%;
	margin: 20px auto 0px;
	color: white;
	background-image: linear-gradient(135deg, #fdfcfb 0%, #423107 100%);
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 20px 20px 0px 0px;
	padding: 10px;
}

.header{
	width: 25%;
	margin: 10px auto 0px;
	color: white;
	background-image: linear-gradient(135deg, #fdfcfb 0%, #423107 100%);
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 20px 20px 0px 0px;
	padding: 10px;
}

.input-group{ 




	background-image: linear-gradient(135deg, #fdfcfb 0%, #423107 100%);
    width: 24.5%;
	margin: auto;
	padding: 15px;
	border: 1px solid #B0C4DE;
	border-radius: 0px 0px 10px 10px;
}






.input-group input{
  
	height: 10px;
	width: 80%;
	padding: 5px 14px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

.signins{
	margin-top: 10px;
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #4c390c;
	border-radius: 5px;
	display: none;
}

.now{
	color: #271c02; 
	font-size: 20px; 
	border: 10px; 
}


#result
{
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	color:#525252;


}

@media screen and (max-width: 1250px){
  .header1 {
    width:80%;

  }}

@media screen and (max-width: 750px){
  

  .header1 {
    width: 90%
  }

  .header {
    width: 80%
  }


  .input-group{
    width: 77%
  }

  .signins{
	padding: 8px;
	font-size: 10px;
}
}
